**/build
**/.DS_Store
**/*.test
**/profile
.direnv
.env
!.env.example

provider/provider
connectctl/connectctl
tetherctl/*.conf
api/redoc-static.html
security/ips.{go,txt}

.by_jwt
repomix-output.xml
us-https-proxies*.md
